/* TYPOGRAPHIE */
.h1 {
    font-size: clamp(36px, 6vw, 64px);
    font-weight: 600;
}
.h2 {
    font-size: clamp(28px, 4.5vw, 36px);
    font-weight: 600;
}
.h3 {
    font-size: clamp(22px, 3.5vw, 28px);
    font-weight: 600;
}
.h4 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: 600;
}

.text-lg {
    font-size: clamp(16px, 2.8vw, 18px);
}
.text-md {
    font-size: clamp(14px, 2.5vw, 16px);
}
.text-sm {
    font-size: clamp(12px, 2vw, 14px);
}

.text-muted {
    color: var(--text-muted);
}
.text-center {
    text-align: center;
}
