.btn {
    padding: 14px 32px;
    border-radius: var(--radius-md);
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.btn-primary {
    background: var(--primary);
    color: var(--white);
}
.btn-primary:hover {
    background: var(--primary-dark);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
        text-align: center;
    }
}
