.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--grey-blue);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: var(--primary);
}
