.card {
    background: #fff;
    padding: 24px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    margin-bottom: 24px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
