.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}

section {
    padding: 80px 0;
}

/* Responsive */
@media (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    section {
        padding: 56px 0;
    }
}
@media (max-width: 576px) {
    section {
        padding: 40px 0;
    }
}
